.tabla thead tr{
	font-family: Matemasie;
	color: #FFFAFA;
	font-size: 35px;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: a;
}

.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}